<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google-site-verification" content="A9MEdUzOKSxtR3EZzj4TiUr2dsjsyaKkC-EM7RFB9ko" />
<link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
<link href="/stylesheets/test.css" media="screen" rel="stylesheet" type="text/css">

<script src="/javascripts/all.js" type="text/javascript"></script>

</head> 
<div class="" id="content">
<%= yield %>
</div>
</body>
</html>
 