<h1>Admin menu</h1>
<p>Main - link to main page</p>
<p>Prices - link to main page</p>
<p>News - link to news list (model=event)</p>
<p>Contacts - admin contacts and information about author (model = information)</p>
<p>Blog - admin blog (model=post )</p>
<p>Gallery - admin photos (model=photo)</p>
<p>Frontfooter - admin footer (model=footer)</p>
<p>Albums - admin albums (model=album) </p>