<h1>Listing Photos</h1>

<table>
  <tr>
    <th>title</th>
    <th>album</th>
    <th>slideshow</th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td>
       <%= "#{photo.name}" %>
    </td>
    <td>
       <%= "#{photo.album.name}" %>
    </td>
    <td>
       <%if photo.slideshow%>
         yes
	 <%else%>
         no
       <%end%> 
    </td>
    <td>
     <%= link_to "Edit",edit_photo_path(photo)%>
    </td>
  </tr>
<% end %>
</table>

<%= link_to "Add",new_photo_path%>

